@charset "utf-8";
@use "sass:list";

/**
 * @site Frontend Mentor | Password generator app
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;
// Add the extra supported browsers here, using the following statement
$supported-browsers: list.append($supported-browsers, name-of-the-browser);
// Add the minimal browser version to take into account here if different from the default browser support (variables to use: $firefox, $safari, $chrome, $firefox-android, $safari-ios, $opera-mini)

@use "./base/mixins" with (
  $media-queries-breakpoints: (
    // Add custom breakpoints here if default ones do not fit the project
  )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./typo/font-face";
@use "./typo/typo";
