@charset "utf-8";
@use "sass:list";

/**
 * @site Frontend Mentor | Password generator app
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;

@use "./base/mixins" with (
  $media-queries-breakpoints: (
    greater-text: 572
  )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./utils/utils";
@use "./typo/font-face";
@use "./typo/typo";
@use "./layout/layout";
@use "./form/form";
