@charset "utf-8";

/** @section Fonts */
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-VariableFont_wght.woff2") format(woff2);
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-Italic-VariableFont_wght.woff2") format(woff2);
  font-weight: 400 800;
  font-style: italic;
  font-display: swap;
}
