@charset "utf-8";

/** @section Typography */
body {
  font-family: var(--primary-font), monospace;
  font-weight: bold;
}
h1 {
  font-size: var(--title-size);
  line-height: var(--title-line-height);
  text-align: center;
}
