@charset "utf-8";

// Mixins to customize `input[type="range"]`
@mixin range-track-size {
  block-size: var(--range-track-height);
}
@mixin range-thumb {
  background: var(--senary-background);
  width: var(--range-thumb-size);
  height: var(--range-thumb-size);
  border: none;
  border-radius: var(--range-thumb-border-radius);
  transition: 250ms ease-in;
}
@mixin range-thumb-hover {
  background: var(--quaternary-background);
  outline: 2px solid var(--quinary-background);
}
