@charset "utf-8";

// Default configuration

// Browser support

/// State of browser support
/// 
/// @type List
$supported-browsers: (
  firefox,
  safari,
  chrome,
  firefox-android,
  safari-ios
);

/// Firefox minimal version with ensured compatibility
///
/// @type Number
$firefox: 147;

/// Safari minimal version with ensured compatibility
///
/// @type Number
$safari: 26.2;

/// Google Chrome minimal version with ensured compatibility
///
/// @type Number
$chrome: 144;

/// Firefox Android minimal version with ensured compatibility
///
/// @type Number
$firefox-android: 146;

/// Safari iOS minimal version with ensured compatibility
///
/// @type Number
$safari-ios: 26.2;

/// Opera Mini minimal version with ensured compatibility
///
/// @type Number
$opera-mini: 89;
